@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
.class {
  font-family: var(--font-poppins);
}
.cardProps{
  width: 465px;
  height: 627px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
background: #D2EDE8;
}
.h-30rem{
  height: 30rem;
}
.bg-home-start{
  background: #D2EDE8;
}
.bg-themeColor{
  background-color: #0075c5;
}
.themeColor{
  color: #0075c5;
}

body {
  color: rgb(0,0,0);
  
}
