/* components/ImageSlider.module.css */
.sliderContainer {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
}

.textContainer {
  flex: 1;
  padding: 20px;
}

.slider {
  overflow: hidden;
  width: 50%; /* Adjust the width of the slider */
  transform: scale(1.2);
}
@media only screen and (max-width: 600px) {
  .slider {
    width: 45%;
    transform: scale(1.8);
   }
}
.sliderContent {
  display: flex;
  /* transition: transform 0.5s ease-in; */
}

.slide {
  width: 100%;
  height: auto;
}
